{% load static %}
<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Congratulations | Cloud Run</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link href="{% static 'cloud-run-32-color.png' %}" rel="icon" type="image/png" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Welcome to Banbury</h1>
    <div class="menu">
        <a href="/login/">Log In</a>
        <a href="/register/">Register</a>
    <h3>February 3, 2024 - Banbury Cloud Beta CLI Tool Released</h3>
    <p>There are some exciting new advancements in the realm of Banbury! We have recently released 
    the very first Beta version of bcloud. bcloud is a CLI tool for Banbury Cloud. This acts as a 
    prototype for what will eventually be Banbury Cloud.</p>

    <a href="{% url 'download-deb' %}">Download Debian Package</a>

    </div>
</body>
</html>
